<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.soong.mapper.MemberMapper">

    <insert id="boardInsert" parameterType="com.soong.vo.MemberVO">

        INSERT INTO MEMBER_COMMON
        (user_id, user_nm, email, password, reg_dt)
        VALUES (
        #{user_id},
        #{user_nm},
        #{email},
        PASSWORD(#{password}),
        now()
        )

        <selectKey resultType="int" keyProperty="user_no" order="AFTER">
            SELECT MAX(user_no) FROM MEMBER_COMMON
        </selectKey>

    </insert>

</mapper>